
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

div {
    background-color: aqua;
    margin: 100px;
    padding: 20px;
}

.redBackground {
    background-color: red;
}

.photo {
    width: 200px;

}

.flexy {
    display: flex;
    flex-direction: row;
    gap: 100rem;
}